extends layout

block content   
  .row.image_head
    a(href=`/${image.author.username}`)
      img(src=image.author.avatar_url)
    a(href=`/${image.author.username}`)= image.author.name
  img(src=`/uploads/gallery/${image.photo}`)
  .row.image_info
    time.row.centrate(datetime=image.created)
      span= h.moment(image.created).fromNow()        
    if image.categories.length
      ul.row.centrate
        each cat in image.categories
          li
            a(href=`/category/${cat}`) ##{cat}  
  p.caption= image.caption  
  if image.comments.length
    ul
      each comment in image.comments
        li.comment.row.centrate
          a(href=`/${comment.author.username}`)= comment.author.name
          p= comment.text
          if user && user._id == comment.author._id
            form(action=`/c/${comment._id}`, method="get")
              input.remove(type="submit" value="remove")    
  if user
    form(action=`/c/${image._id}`, method="POST")
      input.comment(name="text", placeholder="Add a comment...", autocomplete="off" maxlength="140")

    
